{% extends 'account/accountbase.html' %}
{% load commontags %}
{% block content %}

<div class="container">

<form method="post" action="/account/register/" class="form-register">
    {% csrf_token %}
    {{ form.errors }}
    <input type="text" class="input-block-level" placeholder="Email address" id="id_email" name="email" maxlength="254">
    <input type="password" class="input-block-level" placeholder="Password" id="id_password1" name="password1">
    <input type="password" class="input-block-level" placeholder="Password Confirm" id="id_password2" name="password2">
    <input type="text" class="input-block-level" placeholder="First Name" id="id_firstname" name="firstname">
    <input type="text" class="input-block-level" placeholder="Last Name" id="id_lastname" name="lastname" >
    <table>
    <tr>
        <td>{{ form.team.label_tag }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>{{ form.team }}</td>
    </tr>
    <tr>
        <td>{{ form.role.label_tag }}</td>
        <td>{{ form.role }}</td>
    </tr>
    </table>
    <button class="btn btn-large btn-primary" type="submit">Register</button>
</form>
</div>
{% endblock %}
