{% load bootstrap_toolkit %}
{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html>
<head>
    {% include 'common/styles.html' %}
    <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
    <title>ITSY Create Issue Type</title>
</head>
<body>
    {% include 'common/topnavigation.html' %}
    <div id="createissueformid" class="createissueform" style="width: 100%; overflow: hidden;">
        {% include 'issue/leftnavigation.html' %}
        <div style="margin-left: 240px;">
            <form method="post">
            <h4>Create An Issue Type</h4>
            {% csrf_token %}
            {{ create_issue_type_form|as_bootstrap }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </form>
        </div>
        <div style="margin-left: 240px; padding-top: 100px">
            {% render_table issue_types %}
        </div>
    </div>
  </body>
</html>