{% load bootstrap_toolkit %}
<!DOCTYPE html>
<html>
<head>
    {% include 'common/styles.html' %}
    <style>

    </style>
    <title>ITSY Create Issue File</title>
</head>
<body>
    {% include 'common/topnavigation.html' %}
    <div id="createissueformid" class="createissueform" style="width: 100%; overflow: hidden;">
        {% include 'issue/leftnavigation.html' %}
        <div style="margin-left: 240px;">
            <h4>Create An Issue File Field</h4>
            <form>
            {% csrf_token %}
            {{ create_issue_file_form|as_bootstrap }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </form>
        </div>
    </div>
  </body>
</html>