<nav>
  <div style="width: 220px; float: left;">
  <ul>
    <li><a href="{% url 'issue:create:item' %}">Create Issue</a></li>
    <li><a href="{% url 'issue:create:type' %}">Create Issue Type</a></li>
    <li><a href="{% url 'issue:create:status' %}">Create Issue Status</a></li>
    <li><a href="{% url 'issue:create:priority' %}">Create Issue Priority</a></li>
    <li><a href="{% url 'issue:create:char' %}">Create Issue Text Field</a></li>
    <li><a href="{% url 'issue:create:text' %}">Create Issue Textarea Field</a></li>
    <li><a href="{% url 'issue:create:image' %}">Create Issue Image Field</a></li>
    <li><a href="{% url 'issue:create:file' %}">Create Issue File Field</a></li>
    <li><a href="{% url 'issue:create:person' %}">Create Issue Person</a></li>
    <li><a href="{% url 'issue:create:flow' %}">Create Issue Flow</a></li>
    <li><a href="{% url 'issue:create:template' %}">Create Issue Template</a></li>
  </ul>
  </div>
</nav>
