<nav>
  <div style="width: 220px; float: left;">
  <ul>
    <li><a href="{% url 'issue:create:item' %}">Create Issue</a></li>
    <li><a href="{% url 'issue:create:type' %}">Create Issue Type</a></li>
    <li><a href="{% url 'issue:create:status' %}">Create Issue Status</a></li>
    <li><a href="{% url 'issue:create:priority' %}">Create Issue Priority</a></li>
    <li><a href="{% url 'issue:create:char' %}">Create Issue Text Field</a></li>
    <li><a href="{% url 'issue:create:text' %}">Create Issue Textarea Field</a></li>
    <li><a href="{% url 'issue:create:image' %}">Create Issue Image Field</a></li>
    <li><a href="{% url 'issue:create:file' %}">Create Issue File Field</a></li>
    <li><a href="{% url 'issue:create:person' %}">Create Issue Person</a></li>
    <li><a href="{% url 'issue:create:flow' %}">Create Issue Flow</a></li>
    <li><a href="{% url 'issue:create:template' %}">Create Issue Template</a></li>
    <li class="divider"></li>
    <li><a href="{% url 'issue:view:item' %}">View Issues</a></li>
    <li><a href="{% url 'issue:view:type' %}">View Issue Types</a></li>
    <li><a href="{% url 'issue:view:status' %}">View Issue Statuses</a></li>
    <li><a href="{% url 'issue:view:priority' %}">View Issue Priories</a></li>
    <li><a href="{% url 'issue:view:char' %}">View Issue Text Fields</a></li>
    <li><a href="{% url 'issue:view:text' %}">View Issue Textarea Fields</a></li>
    <li><a href="{% url 'issue:view:image' %}">View Issue Image Fields</a></li>
    <li><a href="{% url 'issue:view:file' %}">View Issue File Fields</a></li>
    <li><a href="{% url 'issue:view:person' %}">View Issue People</a></li>
    <li><a href="{% url 'issue:view:flow' %}">View Issue Flows</a></li>
    <li><a href="{% url 'issue:view:template' %}">View Issue Templates</a></li>
  </ul>
  </div>
</nav>
