<nav>
  <div style="width: 220px; float: left;">
  <ul>
     <li><a href="/issue/create">Create Issue</a></li>
    <li><a href="/issue/createissuetype">Create Issue Type</a></li>
    <li><a href="/issue/createissuestatus">Create Issue Status</a></li>
    <li><a href="/issue/createissuepriority">Create Issue Priority</a></li>
    <li><a href="/issue/createissuechar">Create Issue Text Field</a></li>
    <li><a href="/issue/createissuetext">Create Issue Textarea Field</a></li>
    <li><a href="/issue/createissueimage">Create Issue Image Field</a></li>
    <li><a href="/issue/createissuefile">Create Issue File Field</a></li>
    <li><a href="/issue/createissueperson">Create Issue Person</a></li>
    <li><a href="/issue/createissueflow">Create Issue Flow</a></li>
    <li><a href="/issue/createissuetemplate">Create Issue Template</a></li>
  </ul>
  </div>
</nav>
