{% extends 'project/projectbase.html' %}
{% block content %}
    <div style="margin-left: 240px;">
        <form id="create-issue-form" action="/project/edit/{{ post_fix }}/{{object.id}}/" method="post">{% csrf_token %}
          <h3>{{ page_heading }}</h3>
          <h5>{% if form.non_field_errors %}<div class="fieldWrapper" style="background-color: paleturquoise;">{{ form.non_field_errors }}</div>{% endif %}</h5>
            {{ form.as_p }}
          <div class="modal-footer" style="text-align: left">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
    </div>
{% endblock content %}