{% extends 'issue/issuebase.html' %}
{% block content %}
    <div style="margin-left: 240px;">
          <h4>{{ issue }} : {{ issue.project_version }}</h4>
        <table>
        {% for field in form %}
            <tr class="spaceUnder">
                <td class="labeltd">{{ field.label_tag }}</td>
                <td>{{ field }}</td>
                <td>{% if field.errors %}<div class="fieldWrapper" style="background-color: paleturquoise;">{{ field.errors }}</div>{% endif %}</td>
            </tr>
        {% endfor %}
        </table>
          <div class="modal-footer" style="text-align: left">
            <button type="button" id="editButton" class="btn btn-primary">Edit</button>
          </div>
    </div>
    <script type="text/javascript">
    $("#editButton").click(function(){
        window.location.replace("{% url 'issue:create:details' issue.slug %}");
    })
    </script>
{% endblock %}
