{% extends 'account/crudbase.html' %}
{% block content %}
    <div style="margin-left: 240px;">
    <h4>{{ page_heading }}</h4>
    <form method="post" action="">
        {% csrf_token %}
        <table>
        {% for field in form %}
            <tr class="spaceUnder">
                <td class="labeltd">{{ field.label_tag }}</td>
                <td>{{ field }}</td>
                <td>{% if field.errors %}<div class="fieldWrapper" style="background-color: paleturquoise;">{{ field.errors }}</div>{% endif %}</td>
            </tr>
        {% endfor %}
        </table>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
    </div>
{% endblock content %}