<!DOCTYPE html>
<html>

<head>
    {% block head %}
    {% include 'common/styles.html' %}
    {% if page_title %}
        <title>{{ page_title }}</title>
    {% else %}
        <title>ITSY</title>
    {% endif %}
    {% endblock %}
</head>
<body>

    {% block topnav %}
        {% include 'common/topnavigation.html' %}
    {% endblock %}
    {% block leftnav %}

    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}
      <div id="footer">
      <div class="footer-container">
        <p class="muted credit">
            <iframe src="http://ghbtns.com/github-btn.html?user=orges&repo=itsy&type=fork"
  allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
        </p>
      </div>
    </div>
    {% endblock %}
</body>
</html>