<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ITSY</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Boards <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Board 1</a></li>
            <li><a href="#">Board 2</a></li>
            <li><a href="#">Board 3</a></li>
            <li class="divider"></li>
            <li><a href="#">View All Boards</a></li>
            <li class="divider"></li>
            <li><a href="#">Manage Boards</a></li>
          </ul>
        </li>
      </ul>
       <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Issues <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Search for Issue</a></li>
            <li><a href="#">Create Issue</a></li>
            <li class="divider"></li>
            <li><b>Recent Issues:</b></li>
            <li><a href="#">Issue 1 </a></li>
            <li><a href="#">Issue 2 </a></li>
            <li><a href="#">Issue 3 </a></li>
            <li><a href="#">Issue 4 </a></li>
            <li class="divider"></li>
            <li><a href="#">View All Issues</a></li>
            <li class="divider"></li>
            <li><a href="#">Manage Issues</a></li>
            <li class="divider"></li>
            <li><b>Filters:</b></li>
            <li><a href="#">Filter 1</a></li>
            <li><a href="#">Filter 2</a></li>
            <li class="divider"></li>
            <li><a href="#">View All Filters</a></li>
            <li class="divider"></li>
            <li><a href="#">Manage Filters</a></li>
          </ul>
        </li>
      </ul>
        <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Project 1</a></li>
            <li><a href="#">Project 2</a></li>
            <li><a href="#">Project 3</a></li>
              <li class="divider"></li>
              <li><a href="#">View All Projects</a></li>
              <li class="divider"></li>
            <li><a href="#">Manage Projects</a></li>
          </ul>
        </li>
      </ul>
      <li><a href="#">Timeline</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashboards <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">System Dashboard</a></li>
            <li><a href="#">Dashboard x1</a></li>
            <li><a href="#">Dashboard x2</a></li>
            <li><a href="#">Dashboard x3</a></li>
              <li class="divider"></li>
              <li><a href="#">View All Dashboards</a></li>
              <li class="divider"></li>
            <li><a href="#">Manage Dashboards</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        &nbsp;<a href="#">Advanced Search</a>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Help</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">My Profile</a></li>
            <li class="divider"></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>