<nav>
  <div style="width: 220px; float: left;">
  <ul>
      <li><a href="{% url 'project:view:project' %}">View Projects</a></li>
      <li><a href="{% url 'project:view:category' %}">View Project Categories</a></li>
      <li><a href="{% url 'project:view:version' %}">View Project Versions</a></li>
      <li><a href="{% url 'project:view:milestone' %}">View Milestones</a></li>
      <li><a href="{% url 'project:view:milestatus' %}">View Milestone Statuses</a></li>
      <li class="divider"></li>
      <li><a href="{% url 'project:create:project' %}">Create Project</a></li>
      <li><a href="{% url 'project:create:category' %}">Create Project Category</a></li>
      <li><a href="{% url 'project:create:version' %}">Create Project Version</a></li>
      <li><a href="{% url 'project:create:milestone' %}">Create Milestone</a></li>
      <li><a href="{% url 'project:create:milestatus' %}">Create Milestone Status</a></li>
  </ul>
  </div>
</nav>