{% extends "repos/repobase.html" %}

{% block title %}
    {{ path }} in {{ repo.name }}
{% endblock %}

{% block content %}
    <div style="margin-left: 175px;">
    <h1>
        Contents of {{ path }}
    </h1>
    <h3>Folders</h3>
    <ul>
        {% for path, folder in folders %}
            <li>
                <a href="{% url 'repos:code_browser' slug=repo.slug path=path %}/">
                    {{ folder }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <h3>Files</h3>
    <ul>
        {% for path, file in files %}
            <li>
                <a href="{% url 'repos:code_browser' slug=repo.slug path=path %}">
                    {{ file }}
                </a>
            </li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}
