<!DOCTYPE html>
<html>
<head>
    {% include 'common/styles.html' %}
    <style>

    </style>
    <title>ITSY Create Issue</title>
</head>
<body>
    {% include 'common/topnavigation.html' %}
    <div id="createissueformid" class="createissueform" style="width: 100%; overflow: hidden;">
        {% include 'issue/leftnavigation.html' %}
        <div style="margin-left: 240px;">
            <form id="create-issue-form" action="{% url 'issue:create:details' issue.slug %}" method="post">{% csrf_token %}
              <h3>Create An Issue</h3>
              <div class="modal-body">
                 {{ form.non_field_errors }}
                <div class="fieldWrapper">
                    <div style="width: 170px; float: left;">{{ form.title.errors }}
                        <label for="id_subject">{{ form.title.label }}:</label>
                    </div>
                    <div>
                        {{ form.title }}
                    </div>
                </div>
                <div class="fieldWrapper">
                    <div style="width: 170px; float: left;">{{ form.summary.errors }}
                        <label for="id_subject">{{ form.summary.label }}:</label>
                    </div>
                    <div>
                        {{ form.summary }}
                    </div>
                </div>
                <div class="fieldWrapper">
                    <div>{{ form.effort.errors }}
                        <label for="id_subject">{{ form.effort.label }}:</label>
                    </div>
                    <div>
                        {{ form.effort }}
                    </div>
                </div>
                <div class="fieldWrapper">
                    <div>{{ form.project_version.errors }}
                        <label for="id_subject">{{ form.project_version.label }}:</label>
                    </div>
                    <div>
                        {{ form.project_version }}
                    </div>
                </div>
                <div class="fieldWrapper">
                    <div>{{ form.type.errors }}
                        <label for="id_subject">{{ form.type.label }}:</label>
                    </div>
                    <div>
                        {{ form.type }}
                    </div>
                </div>
                <div class="fieldWrapper">
                    <div>
                    {{ form.status.errors }}
                    <label for="id_subject">{{ form.status.label }}:</label>
                    </div>
                    <div>
                    {{ form.status }}
                    </div>
                </div>
                <div class="fieldWrapper">
                    <div>
                    {{ form.priority.errors }}
                    <label for="id_subject">{{ form.priority.label }}:</label>
                    </div>
                    <div>
                    {{ form.priority }}
                    </div>
                </div>
                <div class="fieldWrapper">
                    <div>
                    {{ form.template.errors }}
                    <label for="id_subject">{{ form.template.label }}:</label>
                    </div>
                    <div>
                    {{ form.template }}
                    </div>
                </div>
                <div class="fieldWrapper">
                    <div>
                    {{ form.flow.errors }}
                    <label for="id_subject">{{ form.flow.label }}:</label>
                    </div>
                    <div>
                    {{ form.flow }}
                    </div>
                </div>
                <div class="fieldWrapper">
                    <div>
                        {{ form.due_date.errors }}
                        <label for="id_subject">{{ form.due_date.label }}:</label>
                    </div>
                    <div>
                        {{ form.due_date }}
                    </div>
                </div>
              </div>
              <div class="modal-footer" style="text-align: left">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
        </div>
    </div>
  </body>
</html>